<div style="height:10px"></div>
<div *ngIf="sqlHintsModel?.length>0">
   <span style="color:green;font-size:12px;"><strong>*</strong>Click on <i class="fa fa-question-circle fa-lg"  style="color:#337ab7;" aria-hidden="true"></i>&nbsp; sign on the Alert to see important details.</span>
  <ng-container *ngFor="let hint of sqlHintsModel">
    <div style="height:10px"></div>
    <div tooltip="Click on the alert to see Sql being heightlighted  with sql clause in context." (click)="matchPattern(hint)" 
    class="alert alert-warning" role="alert" 
    style="padding:5px 5px 5px 5px;margin:5px">
      <i class="fa fa-info-circle" aria-hidden="true" style="margin-right:5px"></i>
      <span>{{hint.MatchedSqlText}}</span>
      <i class="fa fa-question-circle" 
          title="Click to see importtant details." (click)="sqlLintModel.show()" style="float:right;font-size:1.3em;color:#337ab7;cursor:hover"
        aria-hidden="true"></i>
    </div>
  </ng-container>
</div>
<pre style="display:none">{{sqlHintsModel | json}}</pre>
<div modal-partial #sqlLintModel></div>
