<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Sql Optimization Hints</strong></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="color:green;font-size:12px;"><strong>*</strong>Click on <i class="fa fa-info-circle" aria-hidden="true" style="color:#337ab7;margin-right:5px"></i>the hyperlink to see important details.</span>
        <div class="list-group" style="margin-top:5px;">
          <ng-container *ngFor="let helpContent of _sqlHelpContentModel">
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading" style="color:#337ab7">
                
                <a target="_blank" href="{{helpContent.Href}}"><i class="fa fa-info-circle" aria-hidden="true" style="margin-right:5px"></i>{{helpContent.Quote}}</a>
              </h4>
              <p class="list-group-item-text">
                <cite>— {{helpContent.Cite}}</cite>
              </p>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>